---
import Layout from "@layouts/Layout.astro";
import ExternalLink from "@utils/ExternalLink.astro";
---

<Layout title="Dinner Details">
<div class="wrapper">
<main id="main">
      <h1 id="dinnerDetails">Dinner Details<span aria-hidden="true">📥</span></h1>
      <p> Everyone check the bottom of your plate - if there's a red sticker you're invited to dinner!</p>
      <p> j/k. You should know if you're invited to dinner - you will have gotten a separate invite for it. </p>
      <h2>Location</h2>
      <p>Dinner will be in the Cyan Room on the main floor of the Alt Hotel and catered by Terre (the on-site restaurant). </p>
      <h2>Menu</h2>
      <p>At the time of writing we don't know what the menu will look like other than "Seasonal" and "Served Family Style". That's why we're asking about alergies so we can steer the chef and/or provide options </p>
      <h2>Post-Dinner Activities</h2>
      <p>We have some activities planned for the evening post-meal - but notably not a dance party. Think trivia and maybe karaoke. But we're also nerds in our 40s - it's probably not going to be an all-nighter.</p>
</main>
</div>
</Layout>

<style>
  .wrapper {
    margin: 0 auto;
    max-width: 50%;
    padding: 0 var(--space-s);
  }
</style>