---
import Layout from "@layouts/Layout.astro";
import ExternalLink from "@utils/ExternalLink.astro";
---

<Layout title="How to get Here">
<div class="wrapper">
<main id="main">
      <h2 id="howToGetHere">How To Get Here <span aria-hidden="true">📥</span></h2>
      <h3>Arriving By Plane</h3>
      <p>If you're not from Newfoundland, you're most likely going to be coming in via plane. The St. John's airport code is YYT—make sure you confirm this, as people have accidentally ended up in Saint John, New Brunswick, in the past. </p>
      <h3>Getting Around When You're Here</h3>
      <p>St. John's unfortunately doesn't have the best public transportation, so your best bet to get around will be renting a car or relying on cabs/ride shares. Several cab companies have consolidated and share an app; search City Wide Taxi in your respective app store! </p>
      <p>If you would like to book a car to get around (which is recommended if you want to see some of the sites outside the city), book early! Cars tend to go quickly. In addition to the standard car rental companies, we've had some good luck with Turo (like AirBnB, but for cars).</p>
      <br/>
      <h3>Arriving By Car</h3>
      <p>You'll need to get to the island via ferry with <ExternalLink href="https://www.marineatlantic.ca/" name="Marine Atlantic"/>!</p>
      <p>Please go book your ferry ASAP—many people use the ferry over the summer, and many people book it quite early to ensure they have the availability they want.  </p>
      <p>You have two choices for the ferry route. Both start in North Sydney, on Cape Breton Island in Nova Scotia. </p>
      <p>To <b>Port Aux Basques</b> This ferry is around 7 hours, and runs multiple times a day. However, you will on the west coast of Newfoundland, and need to drive a further 10+ hours to get to St. John's. </p>
      <p>To <b>Argentia</b> This ferry is around 15 hours, an only runs 3x a week. However, it's only about a 2 hour drive to St. John's. </p>
</main>
</div>
</Layout>