---
import Layout from "@layouts/Layout.astro";
import ExternalLink from "@utils/ExternalLink.astro";
---

<Layout title="What Else">
<div class="wrapper">
<main id="main">
    <h1 id="whatelse">What to Do When You're Here <span aria-hidden="true"></span></h1>
    <p>St. John's is a bucket list location for many people, and we hope you have the opportunity to enjoy the local area while you are here! Newfoundland is well known for its unique culture, heavily influenced by settlers from the British Isles, as well as its rugged and beautiful landscapes.  </p>
    <p>Here are some of our suggestions for making the most of your stay! </p>
    <h2>In St. John's</h2>
    <p><b>Signal Hill</b> is St. John's best known landmark, featuring Cabot Tower, built in commemoration of John Cabot's arrival in Newfoundland. The National Historic Site was the site of Marconi's first wireless transatlantic transmission in 1901. Offers great views of the city, harbour, and narrows, as well as Cape Spear in the distance. Most people drive up the hill, but it is technically possible to walk! </p>
    <p>At the foot of Signal Hill is <b>The Battery</b>, a neighbourhood of old-fashioned colourful homes that sit very close to the water. There is a hiking trail that will take you from Signal Hill to the Battery (we recommend going down, rather than up, unless you're looking to burn off all the toutons).</p>
    <p>Signal Hill also features the <b>Johnson Geo Centre</b>, a geographic museum built into the hillside.</p>
    <p>Pictures of St. John's almost always feature <b>Jelly Bean Row</b>, the generic name for the colourful houses found in the downtown core. While you can found these colourful houses in many locations, Gower Street is a great option if you want a colourful walk. It also has the benefit of being relatively flat (as you'll discover, downtown St. John's is very hilly!)</p>
    <p>One of the most prominent buildings in the St. John's skyline is <b>The Rooms</b>, the provincial museum and archive. The museum features a mix of stable exhibits on Newfoundland history and rotating exhibits of local art. The building also features a quite nice café and beautiful views of the city, which you can access without needing to pay an entry fee.</p>
    <p>During the summer, St. John's turns Water Street into a <b>Pedestrian Mall</b>. You'll find a wide variety of restaurants with outdoor seating along the road, as well as many local shops featuring locally produced goods. Duckworth street, just up from Water Street, also features many local shops that are worth poking your head into. </p>
    <p><b>Quidi Vidi</b> (pronounced kiddy viddy) is a traditional fishing village that has been subsumed into the St. John's metro area. Easily walkable from downtown, you can also drive there (though beware of traffic in the summer!). Grab a pint in the Quidi Vidi Brewery, check out the local crafts at the Artisan Studios, and grab a bite to eat at the Wharf, featuring a wide variety of food trucks. For a very classic Newfoundland experience, pop into the Inn of Olde.</p>
    <p>There is a lot of hiking available in the St. John's area. Parts of the East Coast trail will take you from Quidi Vidi to Signal Hill (and far beyond, if you were so inclined!). You'll also find some nice inner-city walking on the Rennie's River trail system and in Bowring Park. </p>
    <h2>Outside St. John's</h2>
    <p><b>Cape Spear</b> is another bucket list item when visiting Newfoundland. It's the furthest East you can go in North America, and also features some WWII fortifications and the Cape Spear Lighthouse. </p>
    <p>We highly recommend every get out on the water via a <b>Puffin/Whale Watching Tour</b>. July is the height of whale watching season here in Newfoundland, but we are also lucky to be a place where you can see puffins (which are absolutely guaranteed, unlike the whales). There are two companies that operate out of Bay Bulls, about 50 minutes outside of St. John's: Gatherall's and O'Brien's. They are pretty equivalent, though we've tended to use O'Brien's. You will need to book this in advance. </p>
    <p>Both O'Brien's and Gatherall's offer shuttle service to Bay Bulls if you don't have a car.</p>
    <p>Note: Iceberg Quest Ocean Tours leaves right from the St. John's Harbour, but they won't be able to take you all the way to the St. Mary's Ecological Preserve out in Bay Bulls, which is where you are guaranteed to be inundated with puffins.  </p>
    <h2>Where to Eat</h2>
    <p>St. John's has a pretty good food scene these days. These are just a few of our favourites. </p>
    <p><b>Birdie</b> has some of the best pastry around, bar none. Their triple chocolate croissants have converted people who don't like chocolate. Please go eat here. </p>
    <p><b>Johnny and Maes</b> have several food trucks around town, including at the Quidi Vidi Wharf. The burgers are massive; we recommend sharing with someone. Also be prepared for your hands to get a bit messy. </p>
    <h2>Where not to Eat</h2>
    <p><b>Yellowbelly</b>: It used to be good, but now is pretty mediocre, and we've heard some horror stories from the kitchen. </p>
    <p><b>Estee</b>: As far as we can tell, this is some kind of money laundering front, and we're pretty sure their croissants are from Costco.</p>
</main>
</div>
</Layout>